<?xml version="1.0" encoding="UTF-8"?>
<!--
LICENSE INFORMATION:

Copyright 2012, Adam Tuttle
 
Licensed under the Apache License, Version 2.0 (the "License"); you may not 
use this file except in compliance with the License. 

You may obtain a copy of the License at 

	http://www.apache.org/licenses/LICENSE-2.0 
	
Unless required by applicable law or agreed to in writing, software distributed
under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR 
CONDITIONS OF ANY KIND, either express or implied. See the License for the 
specific language governing permissions and limitations under the License.

VERSION INFORMATION:

This file is part of RecentEntries.
-->
<plugin id="com.fusiongrokker.plugins.RecentEntries" name="Recent Entries" version="1.0.0" provider-name="Adam Tuttle | http://fusiongrokker.com" class="RecentEntries.plugin">
	<description><![CDATA[ Adds a Recent Entries Pod.<br/>
	<br/>
	Written by <a href="http://fusiongrokker.com">Adam Tuttle</a><br/>
	Find the latest version at: <a href="http://fusiongrokker.com/page/projects">FusionGrokker</a> ]]></description>
	<requiresVersion match="greaterOrEqual">1.5</requiresVersion>
	<listens>

		<!-- settings events -->
		<event name="settingsNav" type="synch" priority="5" />
		<event name="RecentEntries-settings" type="synch" priority="5" />

		<!-- pod events -->
		<event name="RecentEntries-pod" type="synch" priority="5" />
		<event name="getPodsList" type="synch" priority="5" />
		<event name="getPods" type="synch" priority="5" />

	</listens>
	
</plugin>
